*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/


# my project
.idea/*
.svn/*
.vscode/*
chat/*
css/*
!css/style.css
font-awesome-4.7.0/*
fonts/*
fuyuanquanapp/*
getui/*
ico/*
images/*
img/*
!img/cate-icon.png
!img/cate-icon-shadow.png
js/*
member/*
moment/*
mv/*
myback/*
ngw/*
record/*
!record/record.php
!record/recorder.php
!record/save.php
!record/playsong.php
!record/audio_save.php
svg/*
umeditor/*
upload/*
uploads/*
wxpay/*
fuyuanquan/server/*
fuyuanquan/assets/*
db_config.php
include/data_base.php
video/*